# Archivos de entorno virtual
venv/
.venv/

# Archivos de caché de Python
__pycache__/
*.pyc

# Modelos entrenados de RASA
# models/*.tar.gz

# Archivos de entorno local
*.env 
./.env
.rasa
*.md
# Carpetas de VSCode y otros editores
.vscode/
